body, #root {
  min-height: 100vh;
  /*background-color: #050505; !* Replace with your desired color *!*/
}
* {
  transition: background-color 0.5s ease; /* 0.5s transition time for background-color */
}

.bg-gray {
  background-color: #191919;
}


/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/