html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  transition: background-color 0.5s ease; /* 0.5s transition time for background-color */
}

.bg-gray {
  background-color: #191919;
}

.social-icons a {
  color: inherit; /* Matches theme text color */
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 32px
}

.social-icons a:hover {
  color: #0077b5;
  transform: translateY(-7px);
}

.social-icons-hero a {
  color: inherit; /* Matches theme text color */
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 30px
}

.social-icons-hero a:hover {
  color: orange;
  transform: translateY(-7px);
}

.main-cornered-containers-dark {
  background-color: #4f5c6b;
  color: #ffffff;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
}


.space-to-navbar {
  padding-top: 56px;
}

/* Contact Form */
.contact-card-dark {
  background-color: #252525;
  border-radius: 25px;
  max-width: 900px
}

.contact-card-light {
  background-color: #c2c2c2;
  border-radius: 25px;
  max-width: 900px
}


.input-dark.form-label {
  color: #bbbbbb;
}

.input-dark.form-control {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #bbbbbb;
}

.input-dark.form-control:focus {
  color: #bbbbbb; !important;
}

.input-light.form-label {
  color: #191919;
}

.input-light.form-control {
  background-color: rgb(255, 255, 255) !important;
  color: #020000;
}

.input-light.form-control:focus {
  color: #020000;
}

.send-message-button.button {
  background-color: #405059;
  color: #ffffff;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
}

/*.toast-container {*/
/*  z-index: 1056; !* Higher than Bootstrap's normal navbar z-index (1055) *!*/
/*}*/


.zoom-container {
  /* Smooth zooming transition */
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Optional: change cursor to indicate hoverable container */
}

/* When the mouse hovers over the container */
.zoom-container:hover {
  transform: scale(1.03); /* Zooms the container by 5% */
}
